/* ==============================
  * HOME PROJECT
  * Mixin is included in _home.scss
============================== */
@mixin home-projects() {
  .project {
    display: flex;
    padding: 100px 50px;

    .project__content {
      width: 50%;
      display: flex;
      flex-direction: column;
      font-size: 1.25rem; // 20px
    }

    .project__title {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 1.5em;
      
      @include title-line('before', 200px, 2px, 1em) {
        position: absolute;
        right: 100%;
      };

      h3 {
        margin: 0;
        font-size: 3.2em;
      }
    }

    .project__lead {
      font-weight: 500;
      color: $secondary-colour;
    }

    .project__link {
      margin-top: auto;
      align-self: flex-start;
      position: relative;
      padding: 0 0.25em;
      font-weight: 700;
      text-decoration: none;
      color: $primary-colour;
      @include highlight();
    }

    .project__image {
      width: 50%;
      display: flex;
      justify-content: center;

      img {
        width: auto;
        // height: 600px;
        height: 75vh;
      }
    }

    &[data-placement="right"] {
      .project__title {
        &::before {
          left: 100%;
        }
      }
    }
  }
}