/**
 * Variables
 */

// COLOURS
$primary-colour: #2B2D42;
$secondary-colour: #24B9CC;
$highlight-colour: #2CCFE4; // highlight-colour;

// GRADIENT COLOURS
$gradient-blue: #54ECFF;
$gradient-green: #49DAB9;

// OTHER COLOURS
$tooltip-text-colour: #586069;
$dark-grey: #3a3a3a;

$font-colour: $primary-colour;