/**
 * Base styles
 */
 
 @import 'variables';
 @import 'typography';

.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

body {
  width: 100%;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  color: $font-colour;
}

.page {
  width: 100%;
  height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  position: absolute;
  left: 0; // needed for home page to centre
  right: 0; // needed for home page to centre

  a {
    position: relative;
  }
}




/**
 * Loader in About.js
 * Mark - do we need this?
 */
.smooth-image {
  /* transition: opacity 1s; */
  transition: opacity 0.5s ease-in;
}
.image-visible {
  opacity: 1;
}
.image-hidden {
  opacity: 0;
  transition-delay: 5s;
}