/**
 * Variables
 */

// COLOURS
$primary-colour: #2B2D42;
$secondary-colour: #24B9CC;
$highlight-colour: #2CCFE4; // highlight-colour;

$gradient-blue: #54ECFF;
$gradient-green: #49DAB9;

$font-colour: $primary-colour;