/* ------------------------------------------------------------------------------------------------

                                        >>> CONTENTS <<<

------------------------------------------------------------------------------------------------ */

/*
-- CH01 -- NORMALIZE (External CSS file)
-- CH02 -- GLOBAL STYLES
-- CH03 -- CONTAINER
-- CH04 -- TITLE SECTION
-- CH05 -- GLOBAL SECTION STYLING
        -- CH05A -- ARROW STYLING -------- REMOVED - Error in iOS
-- CH06 -- ABOUT
-- CH07 -- SKILLS
-- CH08 -- EXPERIENCE
-- CH09 -- EDUCATION
-- CH10 -- INTERESTS
-- CH11 -- ARROW UP TOP
-- CH12 -- MEDIA QUERY (Tablet: 768px+)
-- CH13 -- MEDIA QUERY (Desktop: 992px+)
*/

/* ------------------------------------------------------------------------------------------------

                                    >>> CH02 GLOBAL STYLES & TYPOGRAPHY <<<

------------------------------------------------------------------------------------------------ */

body {
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px 10px 10px;
    font-weight: 100;
    color: #333;
}

h3 {
    color: #222; /* darken type for skills and experience headings */
}

.hidden {
    visibility: hidden;
}

.right-align {
    float: right; /* Align item to the right of container */
}

.small {
    font-size: 0.9em;
}

/* ------------------------------------------------------------------------------------------------

                                    >>> CH03 CONTAINER <<<

------------------------------------------------------------------------------------------------ */

.content-container {
    max-width: 600px; /* Stop container expanding */
    margin: auto;
    padding: 10px;
}

/* ------------------------------------------------------------------------------------------------

                                    >>> CH04 TITLE SECTION <<<

------------------------------------------------------------------------------------------------ */

.header-container {
    display: flex;
    justify-content: center; /* horizontal centre */
    align-items: center; /* vertical align centre */
    flex-direction: column; /* stack items (for arrow) */
    height: 100vh; /* full viewport */
    padding: 0 10px 0 10px; /* padding to match content-container */
}

    #back-home {
        position: absolute; /* only way to clear display: flex on parent */
        top: 10px;
        left: 10px;
    }

        #back-home > img {
            vertical-align: bottom; /* remove gap at bottom of the image */
        }

    .name-container {
        width: 100%;
        max-width: 600px;
        border-radius: 2px; /* clip box shadow */
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        /* 0(horizontal), 3px(vertical), 6px(blur), RGBA (alpha (opacity channel))
        x2 box-shadow for added depth and layering */
    }

        .name {
            width: 100%;
            background-color: #fff;
            border: 1px solid #3399ff;
            border-radius: 2px 2px 0 0;
        }

            .name > h1 {
                display: inline-block;
            }

            .mimic-cursor {
                font-size: 2em; /* matching <h1> */
                font-weight: 100; /* matching <h1> */
                animation: blink 1s infinite step-end; /* step-end > animation stays in current state (white/invisible) until the end of animation, where it directly jumps to the end position (black/visible) */
                margin-left: -5px;
            }

            @keyframes blink {
                0%, 100%   { color: #fff; }
                50% { color: #000; }
            }

            .search-container {
                width: 60px;
                height: 57px;
                float: right; /* position to right */
                display: flex; /* alignment of child > img */
                justify-content: center; /* horizontal centre */
                align-items: center; /* vertical centre */
            }

        .name-keywords {
            clear: both;
            overflow: auto; /* prevent element collapsing due to float */
            width: 100%;
            background-color: #fff;
            border-right: 1px solid #999;
            border-bottom: 1px solid #999;
            border-left: 1px solid #999;
            border-radius: 0 0 2px 2px;
        }

            .name-keywords > h2 {
                display: block;
            }

    .arrow-down-header {
        width: 20px;
        height: 20px;
        position: absolute; /* to position always 15px from bottom of .header-container */
        bottom: 15px;
        border: none; /* removing <button> default style */
        background: none; /* removing <button> default style */
        outline: none; /* removing <button> default style (focus state) */
        border-right: 1px solid #999;
        border-top: 1px solid #999;
        transform: rotate(135deg);
        cursor: pointer;
        margin-left: auto; /* necessary to centre absolute element in safari */
        margin-right: auto; /* necessary to centre absolute element in safari */
        left: 0; /* necessary to centre absolute element in safari */
        right: 0; /* necessary to centre absolute element in safari */
    }


/* ------------------------------------------------------------------------------------------------

                                    >>> CH05 GLOBAL SECTION STYLING <<<

------------------------------------------------------------------------------------------------ */

.section-container {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    box-shadow: 0 5px 6px rgba(0,0,0,0.20);
    border-radius: 2px;

}

.section-container:hover {
    box-shadow: 0 5px 6px rgba(0,0,0,0.40);
}

#skills-container, #experience-container, #education-container, #interests-container, #references-container {
    margin-top: 10px; /* applying to all containers except for #about-container, to match .content-container padding: 10px */
}

    .section-title {
        border-bottom: 1px solid #999;
    }

        .section-image-container {
            width: 50px;
            height: 58px;
            float: left; /* position to left */
            display: flex; /* alignment of child > img */
            justify-content: center; /* horizontal centre */
            align-items: center; /* vertical centre */
        }

        .section-title > h2 {
            display: inline-block; /* necessary to maintain alignment with floated image */
            margin: 12px 0px 10px 10px;
            font-size: 2em;
        }

        .section-content {
            clear: both;
            padding: 20px 20px 20px 20px;
            color: #333;
            font-weight: 200;
            line-height: 24px;
        }

/* ------------------------------------------------------------------------------------------------
                                        >>> CH05A Arrow Styling <<<
------------------------------------------------------------------------------------------------ */

/* Removed due to bug - bouncing up and down only in iOS browsers */

/* ------------------------------------------------------------------------------------------------

                                    >>> CH06 ABOUT <<<

------------------------------------------------------------------------------------------------ */

#about-container > .section-content {
    padding: 10px 20px 20px 20px; /* overiding global section padding */
}

    #email-button-container {
        display: flex; /* alignment of child > img */
        justify-content: center; /* horizontal centre */
        align-items: center; /* vertical centre */
        margin: 40px 0px 40px 0px;
    }

        #email-button {
            width: 150px;
            text-align: center;
            padding: 10px 0px 10px 0px;
            text-decoration: none;
            color: #3399ff;
            border: 1px solid #3399ff;
            font-weight: 300;
        }

        #email-button:hover, #email-button:focus, #email-button:active {
            color: #fff;
            background-color: #3399ff;
            border: 1px solid #3399ff;
        }

    .line {
        width: 100%;
        margin: 0;
        border: 0; /* Remove default <hr> border style */
        border-bottom: 1px solid #999;
    }

    .social-icons-container {
        width: 100%;
        display: flex; /* alignment of child > img */
        justify-content: center; /* horizontal centre */
        margin: 10px 0px 0px 0px;
    }

        .social-icons-container img {
            vertical-align: bottom; /* remove white space between bottom of img and container */
            padding: 0px 2.5px 0px 2.5px;
        }

/* ------------------------------------------------------------------------------------------------

                                    >>> CH07 SKILLS <<<

------------------------------------------------------------------------------------------------ */

.skills-search-container {
    border-radius: 2px; /* clip box shadow */
}

.skills-search-container:first-of-type {
    margin-bottom: 20px;
}

    .skill-type {
        width: 100%;
        background-color: #fff;
        border: 1px solid #3399ff;
        border-radius: 2px 2px 0 0;
    }

        .skill-type > h3 {
            display: inline-block;
        }

        /* Animation "blink" is being pulled from CH04 TITLE SECTION */
        .mimic-cursor-skills {
            font-size: 1.3em; /* matching <h3> */
            font-weight: 100; /* matching <h3> */
            animation: blink 1s infinite step-end; /* step-end > animation stays in current state (white/invisible) until the end of animation, where it directly jumps to the end position (black/visible) */
            margin-left: -5px;
        }

        .search-icon-container {
            width: 44px;
            height: 43px;
            float: right; /* position to right */
            display: flex; /* alignment of child > img */
            justify-content: center; /* horizontal centre */
            align-items: center; /* vertical centre */
        }

    .skills-keywords {
        clear: both;
        overflow: auto; /* prevent element collapsing due to float */
        width: 100%;
        background-color: #fff;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
        border-radius: 0 0 2px 2px;
    }

        .skills-keywords > ul {
            padding-left: 10px;
        }

            .skills-keywords > ul > li {
                clear: both;
                overflow: auto;
                list-style: none;
                margin-bottom: 10px;
            }

            .skills-keywords > ul > li > img {
                float: left;
                margin-right: 10px;
            }


/* ------------------------------------------------------------------------------------------------

                                    >>> CH08 EXPERIENCE <<<

------------------------------------------------------------------------------------------------ */

.experience-description {
    margin-bottom: 30px;
}

.experience-description:last-of-type { /* removing margin for final job */
    margin-bottom: 0px;
}
    .experience-description > h3 {
        margin: 0px 0px 5px 0px; /* overide global style */
    }

    .experience-description > h3:first-of-type {
        display: block;
        color: #3399ff;
    }

    .experience-description > h4 {
        display: inline-block;
        margin: 0; /* overide global style */
        font-size: 0.9em;
    }

    .experience-description > p {
        clear: both; /* clear float */
    }

/* ------------------------------------------------------------------------------------------------

                                    >>> CH09 EDUCATION <<<

------------------------------------------------------------------------------------------------ */

.education-description {
    margin-bottom: 30px;
}

.education-description:last-of-type { /* removing margin for final job */
    margin-bottom: 0px;
}
    .education-description > h3 {
        margin: 0px 0px 5px 0px; /* overide global style */
    }

    .education-description > h3:first-of-type {
        display: block;
        color: #3399ff;
    }

    .education-description > h4 {
        display: inline-block;
        margin: 0; /* overide global style */
        font-size: 0.9em;
    }

    .education-description > p {
        clear: both; /* clear float */
    }


/* ------------------------------------------------------------------------------------------------

                                    >>> CH10 INTERESTS <<<

------------------------------------------------------------------------------------------------ */

.interests-images-container {
    width: 100%;
    display: flex; /* alignment of child > img */
    justify-content: center; /* horizontal centre */
    align-items: center; /* vertical centre */
    flex-wrap: wrap;
}

    .interests-img-container {
        margin: 0px 5px 10px 5px;
    }

        .interests-img-container > img {
            vertical-align: bottom; /* eliminate white space between image and text */
        }

        .interest-text {
            display: block;
            margin: 0;
            text-align: center;
        }

/* ------------------------------------------------------------------------------------------------

                                    >>> CH11 ARROW UP TOP <<<

------------------------------------------------------------------------------------------------ */

.arrow-up-top {
    display: block; /* centre arrow */
    margin: auto; /* centre arrow */
    margin-top: 40px;
    width: 20px;
    height: 20px;
    border: none; /* removing <button> default style */
    background: none; /* removing <button> default style */
    outline: none; /* removing <button> default style (focus state) */
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    transform: rotate(-45deg);
    cursor: pointer;
    margin-left: auto; /* necessary to centre absolute element in safari */
    margin-right: auto; /* necessary to centre absolute element in safari */
    left: 0; /* necessary to centre absolute element in safari */
    right: 0; /* necessary to centre absolute element in safari */
}

/* ------------------------------------------------------------------------------------------------

                                    >>> CH12 MEDIA QUERY TABLET <<<

------------------------------------------------------------------------------------------------ */

@media all and (min-width: 768px) {

    .interests-img-container > img {
        margin: 0px 10px 0px 10px; /* removing margin-bottom */
    }

}


/* ------------------------------------------------------------------------------------------------

                                    >>> CH13 MEDIA QUERY DESKTOP <<<

------------------------------------------------------------------------------------------------ */

@media all and (min-width: 992px) { /* Size corresponds with <picture> changes in HTML */

    .content-container {
        width: 100%;
        max-width: 1100px;
    }

        .section-container {
            display: block;
            width: 49.2%;
        }

        #about-container, #experience-container, #interests-container {
            float: left;
            margin-bottom: 5px; /* increasing spacing */
        }

        #skills-container {
            float: right;
            margin-top: 0; /* necessary for alignment with #about-container */
            margin-bottom: 5px; /* increasing spacing */

        }

        #education-container {
            float: right;
        }

        /* #references-container -- no float to prevent arrow collapsing onto section */
        #references-container {
            float: right;
        }

        /* Clearfix to clear floating sections within .content-container */
        .clearfix:before,
        .clearfix:after {
          content: "";
          display: table;
        }

        .clearfix:after {
          clear: both;
        }

}
