/**
 * About page component
 */

.about {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  a {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
  }

  .hero {
    width: 100%;
    height: 100vh;
    /* perspective stuff */
    perspective: 400px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    transition: perspective 1s;

    .hero__content {
      width: 100%;
      height: 100%;
      transform: translateZ(0);
    }

    .background-image {
      width: 100%;
      height: 100%;
      position: absolute;
      pointer-events: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;

        @include media-breakpoint(md) {
          object-position: center 25%;
        }

        &.mountain-clipping {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

      }
    
      &::after {
        content: "";
        width: 100%;
        height: 50vh;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, #fff, $transparent);
      }
    }

    /* ==============================
     * About page: Title 
    ============================== */
    .title-container {
      width: 90%; // for svg
      position: absolute;
      margin-top: 75px;
      right: 5%;

      @include media-breakpoint(md) {
        width: 58%; // for svg
        max-width: 1000px; // for svg
        right: 15%;
        margin: 30px auto 0 auto;
      }

      svg {
        width: 100%;
        height: 100%;

        .colour-stop-1 {
          color: rgba($sky-colour, 0.3);
        }

        .colour-stop-2 {
          color: $transparent;
        }

        // "me" text
        .text-me {
          transform: translate(901px, 700px);

          @include media-breakpoint(lg) {
            transform: translate(901px, 680px);
          }
        }
      }
    }

    // NOT BEING USED (TEXT BASED) 
    .title {
      margin: 0;
      // calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
      font-size: calc(100px + (300 - 100) * ((100vw - 320px) / (1920 - 320)));
      text-align: right;
      line-height: 0.75;
      color: #fff;
      // text clip styles
      background-clip: text;
      -webkit-text-fill-color: $transparent;
      background-image: linear-gradient(to bottom, $sky-colour, $transparent 85%);

      &.title--me {
        @include media-breakpoint(sm) {
          text-align: right;
        } 
      }
    }

    // Home icon
    .home-btn {
      color: $secondary-colour;
    }

  } 
  
  /* ==============================
   * About page: Buttons 
  ============================== */
  .interest-btn {
    cursor: pointer;
    transition: all 500ms ease;
  }

}