/* .container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: teal;
} */

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.page a {
  position: relative;
}

.home {
  background-color: aquamarine;
}

.about img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  z-index: 0;
}


/**
 * Loader in About.js
 */
/* .loader {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: skyblue;
} */

.smooth-image {
  transition: opacity 1s;
}
.image-visible {
  opacity: 1;
}
.image-hidden {
  opacity: 0;
}
