/**
 * Helper styles
 */

/* Elements 
============================== */
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden; // prevent content/logo overflowing
}

// html, body {
//   height: -webkit-fill-available; // mobile viewport bug fix (safari)
// }

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  color: $font-colour;
}

/* Helpers
============================== */
#root {
  width: 100%;
  min-height: 100vh;
  // overflow-x: hidden;
  // overflow: hidden;
  position: relative;
  // mobile viewport bug fix (safari)
  // min-height: -webkit-fill-available;
}

.page {
  // @NOTE: position: absolute prevents scroll to top on route change

  // position: absolute; // needed for animation
  // top: 0;
  // left: 0; // needed for animation between page
  // right: 0; // needed for animation between page
  // overflow: hidden;

  a {
    position: relative;
  }
}

/**
 * Main content containers
 */
.container {
  width: 100%;
  max-width: $container-max-width; 
  margin-left: auto; 
  margin-right: auto;
  padding-left: $default-padding;
  padding-right: $default-padding; 
  position: relative;
 }